.FilmPage{
    display: flex;
    gap: 20px;
    padding-top: 150px;
    @media screen and (max-width: 1500px) {
        padding-top: 100px;
    }
    @media screen and (max-width: 769px) {
        flex-direction: column-reverse;
    }
    @media screen and (max-width: 429px) {
        padding-top: 50px;
    }
}

.LeftSide{
    width: 80%;
    .window{
        position: relative;
        height: 40vw;
        background-color: rgba(255, 255, 255, 0.192);
    }
    .info{
        padding: 30px 0 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        h1{
            font-size: 23px;
            @media screen and (max-width: 550px){
                font-size: 16px;
            }
        }
    }
    @media screen and (max-width: 429px) {
        .window{
            height: 65vw;
        }
    }
    @media screen and (max-width: 769px) {
        width: 100%;
    }
    img{
        position: absolute;
        z-index: -1;
        left: 44.5%;
        top: 40.5%;
        width: 10%;
    }
}
.RightSide{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 100px;
    h1{
        font-size: 40px;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 30px;
        li{
            font-size: 20px;
        }
    }
    @media screen and (max-width: 1500px) {
        h1{
            font-size: 30px;
        }
    }
    @media screen and (max-width: 769px) {
        height: 50px;
        width: 100%;
    }
    @media screen and (max-width: 429px) {
        h1{
            font-size: 24px;
        }
    }
}
.soon{
    opacity: 0.05;
}
iframe{
    z-index: 399;
}
.description{
    margin-top: 20px;
    font-size: 16px;
    line-height: 23px;
    opacity: 0.7;
    @media screen and (max-width: 550px) {
        margin-top: 10px;
        font-size: 10px;
        color: var(--white);
        line-height: 13px;
    }
    
}
.h3{
    font-size: 12px;
    opacity: 0.4;
    @media screen and (max-width: 550px) {
        font-size: 8px;
    }
}
.genres{
    display: flex;
    gap: 5px;
    max-width: 80%;
}
.description{
    margin-top: 30px;
}